@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.App {
    background-color: #F8F7F7;
    min-height: 100vh;
    width: 100%;
}

.container {
    max-width: 768px;
    padding: 40px;
    padding-top: 64px;
    margin: 0 auto;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>h2 {
    font-size: 30px;
}

.button {
    border: none;
    border-radius: 10px;
    height: fit-content;
    cursor: pointer;
}

.green-button {
    background-color: #A1D776;
    font-size: 20px;
    padding: 12px 36px;
}

.gray-button {
    background-color: #CCCCCC;
    font-size: 20px;
    padding: 12px 36px;
}

.description-container {
    margin-top: 22px;
}

.description {
    margin-top: 36px;
}

.white-button {
    background-color: #ffffff;
    font-size: 17.5px;
    padding: 12px 36px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.taskCard {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 48px 24px 96px 72px;
    margin-bottom: 80px;
    position: relative;
}

.sectionTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 45px;
}

.title-timer {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 30px;
}

.title::before {
    content: '';
    padding: 10px;
    margin-right: 22px;
    background-color: #A1D776;
}

.task-title {
    font-size: 30px;
    font-weight: bold;
}

.timerContainer {
    display: flex;
}

.timerItem {
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-left: 16px;
    padding: 16px;
    border-radius: 10px;
    min-width: 72px;
}

.timerItem>p {
    font-size: 10px;
}

.deadlineDate {
    font-size: 17.5px;
    margin-top: 14px;
    color: #676767;
}

.detail-button {
    position: absolute;
    right: 22px;
    bottom: 16px;
}

.delete-button {
    position: absolute;
    left: 36px;
    background-color: #F44545;
    font-size: 20px;
    padding: 12px 36px;
    bottom: 16px;
}

.tags-container {
    display: Flex;
    margin-top: 16px;
    min-width: 100%;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag-item {
    padding: 6px 16px;
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 30px;
    font-size: 17.5px;
    align-self: center;
    text-align: center;
    flex: 1 1 120px;
    max-width: 120px;
}

.bg-tag-normal {
    background-color: #9094FB;
}

.bg-tag-ongoing {
    background-color: #FBF690;
}

.bg-tag-completed {
    background-color: #90FBFB;
}

.tag-clicked {
    opacity: 0.7;
    box-shadow: 0px 2px 5px 1px black inset;
}

.tag-option {
    box-shadow: -2px -4px 10px #333333 inset;
    cursor: pointer;
}